body,html{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  background:#000;
}
#a1{
  float:left;
  margin:0;
  height:100%;
  width:20%;
  background:#F25648;
 -webkit-transition:5s ease;
  opacity:1;
  background: #F25648;
  
  background-size: 100% 100%;

}
#a1:hover{

  opacity:1;
  background: url('../im1.jpg');

  background-size: 100% 100%;
 -webkit-transition:5s ease;

}
#a2{
  float:left;
  margin:0;
  height:100%;
  width:20%;
  background:#FC7B16;
 -webkit-transition:5s ease;
 background: #FC7B16;
  background-size: 100% 100%;
 opacity:1;

}

#a2:hover{
  opacity:1;
  color: transparent;
  background: url('../im2.jpg');
  background-size: 100% 100%;
   -webkit-transition:5s ease;

}
#a3{
  float:left;
  margin:0;
  height:100%;
  width:20%;
  background: #FEE532;
   -webkit-transition:5s ease;
   background:#FEE532;
  background-size: 100% 100%;
 opacity:1;

}
#a3:hover{
  opacity:1;
  background: url('../im3.jpg');
  background-size: 100% 100%;
   -webkit-transition:5s ease;

}
#a4{
  float:left;
  margin:0;
  height:100%;
  width:20%;
  background:#23AF4C;
   -webkit-transition:5s ease;
   background:#23AF4C;
  background-size: 100% 100%;

 opacity:1;
}
#a4:hover{
  color:transparent;
  opacity:1;
  background: url('../im4.jpg');
  background-size: 100% 100%;
   -webkit-transition:5s ease;

}
h1{
  font-size: 60px;
  opacity:1;
}
#a5{
  float:left;
  margin:0;
  height:100%;
  width:20%;
  background:#42B4E6;
  -webkit-transition:5s ease;
  background:#42B4E6;
  background-size: 100% 100%;
 opacity:1;

}
#a5:hover{
  opacity:1;
  background: url('../im5.jpg');
  background-size: 100% 100%;
   -webkit-transition:5s ease;

}
.c{
 width:32% !important; 
}